/**
 * spa.chat.css
 * namespace: spa-chat
 */

/**
 * vars
 */

@import 'vars';

.spa-chat {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 32em;
  height: 2em;
  background: #fff;
  border-color: #888;
  border-style: solid;
  border-width: thin 0 0 thin;
  border-radius: 0.5em 0 0;
}

.spa-chat-head,
.spa-chat-closer {
  position: absolute;
  top: 0;
  height: 2em;
  font-family: arial, helvetica, sans-serif;
  font-weight: 800;
  line-height: 1.8em;
  color: white;
  text-align: center;
  cursor: pointer;
  background: #888;
  border-bottom: thin solid #888;
}

.spa-chat-head {
  right: 0;
  left: 0;
  border-right: 0.3em 0 0;
}

.spa-chat-closer {
  right: 0;
  width: 2em;

  &:hover {
    background: #800;
  }
}

.spa-chat-head-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2em;
  border-right: 0.3em 0 0;
}

.spa-chat-head-title {
  position: absolute;
  left: 50%;
  width: 16em;
  margin-left: -8em;
}

.spa-chat-sizer {
  position: absolute;
  top: 2em;
  right: 0;
  left: 0;
  padding: 0.5em;
  border: thin solid #999;
  overflow-x: hidden;
  overflow-y: scroll;
}

.spa-chat-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10em;
}

.spa-chat-msg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10em;
}

.spa-chat-msg-log,
.spa-chat-list-box {
  position: absolute;
  top: 1em;
  overflow-x: hidden;
}

.spa-chat-msg-log {
  right: 1em;
  bottom: 4em;
  left: 0;
  padding: 0.5em;
  border: thin solid #888;
  overflow-y: scroll;
}

.spa-chat-msg-log-msg {
  background: #eee;
}

.spa-chat-msg-log-me {
  font-weight: 800;
  color: #484;
}

.spa-chat-msg-log-alert {
  font-style: italic;
  background: #a88;
  color: #fff;
}

.spa-chat-list-box {
  right: 1em;
  bottom: 1em;
  left: 1em;
  overflow-y: auto;
  border-width: thin 0 thin thin;
  border-style: solid;
  border-color: #888;
  background: #888;
  color: #ddd;
  border-radius: 0.5em 0 0;
}

.spa-chat-list-name,
.spa-chat-list-note {
  width: 100%;
  padding: 0.1em 0.5em;
}

.spa-chat-list-name {
  cursor: pointer;

  &:hover {
    background: #aaa;
    color: #888;
  }

  &.spa-x-select {
    background: #fff;
    color: #444;
  }
}

.spa-chat-msg-in {
  position: absolute;
  right: 1em;
  bottom: 1em;
  left: 0;
  height: 2em;
  border: thin solid #888;
  background: #888;

  [type=text] {
    position: absolute;
    width: 75%;
    height: 100%;
    line-height: 100%;
    padding: 0 0.5em;
    border: 0;
    background: #ddd;
    color: #666;

    &:focus {
      background: #ff8;
      color: #222;
    }
  }
}

.spa-chat-msg-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  line-height: 1.9em;
  text-align: center;
  color: #fff;
  font-weight: 800;
  cursor: pointer;

  &:hover,
  &.spa-x-select {
    background: #444;
    color: #ff0;
  }
}

.spa-chat-head:hover .spa-chat-head-toggle {
  background: #aaa;
}
