/**
 * spa.css
 * - 基本スタイル
 * - namespace: spa
 */

/**
 * reset
 */

@import 'lib/normalize';

/**
 * vars
 */

@import 'vars';

/**
 * basics
 */

* {
  user-select: none;
}

body {
  font: 13px 'Trebuchet MS', Valdana, Helvetica, Arial, sans-serif;
  color: $dark-gray;
  background-color: $mid-gray;
}

a {
  text-decoration: none;

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 800;
  color: $black;
}

div::after,
ul::after {
  display: block;
  clear: both;
  content: '';
}

input,
textarea,
.spa-x-user-select {
  user-select: text;
}

/**
 * namespace: spa
 */

.spa {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 35em;
  min-height: 15em;
  overflow: hidden;
  background-color: $white;
  border-radius: 0 8px;
}

/*doc
---
title: title
name: name
category: basics
---
```
    <div class='alert'>Hello</div>
```
*/
